@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #9d7333;
$secondary: #e7a94a;
$success: #1a492d;

@font-face {
  font-family: "helvetica";
  src: url("../font/helvetica-200.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "helvetica";
  src: url("../font/helvetica-400.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "helvetica";
  src: url("../font/helvetica-600.ttf");
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
b,
small,
strong,
body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  overflow-x: hidden !important;
}

a,
i,
.btn,
div {
  text-decoration: none !important;
  transition: all 0.3s ease-in-out !important;
}

textarea {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

input,
.navbar-toggler,
button,
input {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

body {
  scroll-behavior: smooth;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.lg-container {
  width: 100%;
  max-width: 1340px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.md-container {
  width: 100%;
  max-width: 1120px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.sm-container {
  width: 100%;
  max-width: 880px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.header {
  width: 100%;
  background: $primary;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    animation: slideDown 0.3s ease forwards;
  }

  .navbar {
    padding: 0px;

    .navbar-brand {
      padding: 15px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;

      .logo {
        height: 70px;
      }
    }

    .navbar-nav {
      padding: 0px 44px;

      .nav-link {
        padding: 10px 20px;
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
      }

      .nav-link:hover {
        color: $success;
      }

      .nav-link.active {
        color: #1a492d;
      }
    }
  }
}

.hero-section {
  position: relative;

  .hero-content {
    background: #00000066;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 77px;
      color: #ffffff;
      text-shadow: 2px 2px 4px #333333;
      margin-bottom: 0px;
    }
  }
}

.social-links {
  position: fixed;
  right: 0;
  top: 132px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 9999;

  .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 65px;
    height: 41px;
    border-radius: 4px 0px 0px 4px;

    img {
      width: 25px;
    }
  }

  .s1 {
    background: #ff0033;
  }

  .s2 {
    background: linear-gradient(180deg, #881bdb 0%, #ea4c4f 100%);
  }

  .s3 {
    background: #fff;
    border: 1px solid #06c755;
  }

  .s4 {
    background: #000000;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    // opacity: 0;
    // animation: fade 12s infinite;
  }

  /* Set different animation delays for each slide */
  //   .slide:nth-child(1) {
  //     animation-delay: 0s;
  //   }

  //   .slide:nth-child(2) {
  //     animation-delay: 3s;
  //   }

  //   .slide:nth-child(3) {
  //     animation-delay: 6s;
  //   }

  //   .slide:nth-child(4) {
  //     animation-delay: 9s;
  //   }

  //   @keyframes fade {
  //     0% {
  //       opacity: 0;
  //     }

  //     8% {
  //       opacity: 1;
  //     }

  //     25% {
  //       opacity: 1;
  //     }

  //     33% {
  //       opacity: 0;
  //     }

  //     100% {
  //       opacity: 0;
  //     }
  //   }
}

.center-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .horse {
    height: 45px;
    margin-bottom: 8px;
  }

  h3 {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: $primary;
    margin-bottom: 56px;
  }

  h4 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 24px;
    color: $primary;
  }

  h5 {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #333333;
    margin-bottom: 32px;
  }

  p {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #333333;
    margin-bottom: 24px;

    span {
      color: $primary;
    }
  }
}

.about-section {
  width: 100%;
  padding: 80px 0px 64px;

  .about-content {
    width: 100%;
    background-image: url(../images/about-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;

    p {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
      color: #333333;
      margin-bottom: 24px;

      span {
        color: $primary;
      }
    }

    .bottom-right {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      h6 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 170%;
        color: #333333;
      }
    }
  }

  .bottom-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 64px;

    .h-left {
      height: 279px;
      border-radius: 8px;
      overflow: hidden;
    }

    .h-right {
      height: 223px;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}

.list-of-horses {
  width: 100%;
  padding: 64px 0px;
  min-height: 500px;
  background-image: url(../images/bg-grass.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  .horse-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    width: 100%;
    text-decoration: none;
    color: inherit;
    background: $primary;
    border-radius: 8px;
    margin-bottom: 30px;

    .banner {
      width: 100%;
      height: 375px;
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    h5 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      margin-bottom: 15px;
      color: #ffffff;
    }

    .tags {
      display: flex;
      gap: 4px;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 8px;
      width: 100%;

      .tag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        gap: 10px;
        width: calc(33.33% - 3px);
        height: 25px;
        background: #ffffff;
        border-radius: 4px;
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        color: $primary;
      }
    }
  }

  .bottom-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .custom-pagination {
      gap: 8px;
    }

    .custom-pagination .page-link {
      border: none;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $primary;
      padding: 5px 10px;
      border-radius: 0;
      background: transparent;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .custom-pagination .page-item.active .page-link {
      background-color: #b57b2c;
      color: #fff;
    }

    .custom-pagination .page-link:hover {
      background-color: #f1e2cc;
      color: #b57b2c;
    }

    .custom-pagination .page-item.disabled .page-link {
      color: #b57b2c;
      background: transparent;
    }
  }
}

.play-btn {
  display: flex;
  align-items: center;
  margin-top: 55px;

  .play {
    width: 70px;
    height: 70px;
    background: #e7a94a;
    border: 1px solid $primary;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &:hover {
    .play {
      margin-right: -5px;
    }
  }

  .btn-light {
    margin-left: -35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px 12px 56px;
    gap: 24px;
    height: 53px;
    background: #ffffff;
    border: 1px solid $primary;
    border-radius: 30px;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: $primary;
    position: relative;
    z-index: 0;
  }
}

.play-btn-dark {
  display: flex;
  align-items: center;
  margin-top: 55px;

  .play {
    width: 70px;
    height: 70px;
    background: #fff;
    border: 1px solid $primary;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .btn-light {
    margin-left: -35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px 12px 56px;
    gap: 24px;
    height: 53px;
    background: $primary;
    border: 1px solid $primary;
    border-radius: 30px;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 0;
  }
}

.ranking {
  padding: 64px 0px;
}

.ranking-section {
  width: 100%;
  padding: 80px 48px 33px 48px;
  width: 100%;
  min-height: 503px;
  background: #ffffff;
  border: 2px solid $primary;
  border-radius: 8px;
  position: relative;
  margin-top: 67px;

  .card-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    gap: 10px;
    white-space: nowrap;
    width: fit-content;
    height: 70px;
    background: $primary;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);

    span {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: #ffffff;
    }
  }

  .ranking-cards-row {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 24px;

    .ranking-card {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      a {
        width: 100%;
      }

      .badge {
        margin-bottom: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 54px;
        }

        p {
          font-family: "Noto Sans JP";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #333333;
          margin-bottom: 0px;
        }
      }

      .banner {
        width: 100%;
        height: 270px;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 15px;

        img {
          transition: all 0.3s ease-in-out !important;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }

      h4 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #333333;
        margin-bottom: 15px;
      }
    }
  }
}

.support-methods {
  padding: 64px 0px;
}

.support-card {
  width: 100%;
  height: calc(100% - 20px);
  margin-bottom: 20px;
  border: 1px solid $primary;
  border-radius: 8px;
  overflow: hidden;

  .heading {
    width: 100%;
    height: 75px;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 170%;
      text-align: center;
      color: #ffffff;
      margin: -8px 0px;
    }

    p {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
      text-align: center;
      color: #ffffff;
      margin-bottom: 0px;
    }
  }

  .card-inner {
    width: 100%;
    height: calc(100% - 75px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #333333;
      margin-bottom: 24px;
    }

    .bullet {
      display: flex;
      align-items: baseline;
      gap: 8px;
      margin-bottom: 12px;

      .check {
        width: 14px;
      }

      span {
        width: calc(100% - 22px);
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
      }
    }
  }

}

.card-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.btn-support {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 12px 24px !important;
  height: 58px !important;
  background: #1a492d !important;
  border-radius: 4px !important;
  gap: 8px !important;
  font-family: "Noto Sans JP" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 170% !important;
  color: #ffffff !important;

  &:hover {
    background: $primary !important;
  }
}

.faq-section {
  padding: 64px 0px;

  .custom-accordion::after {
    display: none;
  }

  .accordion-item {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
  }

  .accordion-button {
    background: #fff;
    padding: 24px 60px;

    .content {
      width: calc(100% - 30px);
      display: flex;
      align-items: center;
      gap: 24px;
    }

    .date {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #333333;
      margin-bottom: 0px;
    }

    .question {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #333333;
      margin-bottom: 0px;
    }

    .badge {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 16px;
      gap: 10px;
      width: fit-content;
      height: 29px;
      background: $primary;
      border-radius: 5px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
  }

  .accordion-body {
    background: #fff;
    padding: 0px 60px 10px;

    p {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #333333;
      margin-bottom: 10px;
    }
  }

  .custom-accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion-icon {
    width: 20px;
    height: auto;
    transition: transform 0.3s ease;
  }

  .event-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 24px 60px;
    border-bottom: 1px solid #d9d9d9;
    color: #333;

    .content {
      width: calc(100% - 30px);
      display: flex;
      align-items: center;
      gap: 24px;
    }

    .date {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #333333;
      margin-bottom: 0px;
    }

    .question {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #333333;
      margin-bottom: 0px;
    }

    .badge {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 16px;
      gap: 10px;
      width: fit-content;
      height: 29px;
      background: $primary;
      border-radius: 5px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }
  }
}

.company-profile {
  padding: 64px 0px;

  .content-section {
    .point {
      padding: 18px 10px;
      border-bottom: 1px solid #d9d9d9;

      p {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        margin-bottom: 0px;
      }
    }
  }

  .tabs-section {
    width: 100%;

    .nav-pills {
      width: 100%;

      .nav-item {
        width: 25%;

        .nav-link {
          width: 100%;
          border-radius: 8px 8px 0px 0px;
          border: 2px solid $primary;
          font-family: "Noto Sans JP";
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 170%;
          text-align: center;
          color: $primary;
        }

        .nav-link.active {
          background: $primary;
          color: #fff;
        }
      }
    }

    .tab-content {
      border: 2px solid $primary;
      border-radius: 0px 0px 8px 8px;
      padding: 24px;

      p {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 24px;
      }

      .points {
        display: flex;
        gap: 8px;
        align-items: baseline;
        margin-bottom: 8px;

        .check {
          width: 14px;
        }

        span {
          width: calc(100% - 22px);
          font-family: "Noto Sans JP";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #333333;
        }
      }
    }
  }
}

.requests-section {
  padding-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    border-bottom: 2px solid $primary;
    padding: 0px 33px;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 170%;
    margin-bottom: 32px;
    color: $primary;
  }

  p {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #333333;

    a {
      color: $primary;
      font-size: 20px;
    }
  }
}

.footer {
  width: 100%;
  margin-top: 100px;
  padding: 40px 0px;
  background: #efefef;

  .footer-row {
    width: 100%;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;

    .footer-left {
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .f-logo {
        height: 50px;
        margin-bottom: 10px;
      }

      h4 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #333333;
        margin-bottom: 10px;
      }

      p {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        color: #333333;
        margin-bottom: 0px;
      }
    }

    .footer-right {
      display: flex;
      flex-direction: column;
      gap: 24px;

      a {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #333333;

        &.active {
          color: $primary;
        }
      }
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #333333;

      a {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #333333;
        text-decoration: underline !important;
      }
    }
  }
}

.main-banner {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.category-list {
  margin-bottom: 64px;

  h3 {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170%;
    color: #333333;
    margin-bottom: 16px;

    svg {
      display: none;
    }
  }

  .list {
    width: 100%;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    .pills {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 4px 8px;
      gap: 10px;
      height: 28px;
      background: #ffffff;
      border: 1px solid $primary;
      border-radius: 4px;
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 170%;
      color: $primary;

      &:hover {
        background: $primary;
        color: #fff;
      }
    }
  }

}

.events-section {
  padding: 160px 0px 60px;
}

.events-container {
  width: 100%;
  max-width: 1030px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  .tag-line {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

    .badge {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 16px;
      gap: 10px;
      height: 29px;
      background: $primary;
      border-radius: 5px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #ffffff;
    }

    p {
      margin-bottom: 0px;
      /* 2025.11.01 */
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #333333;
    }
  }

  .heading {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 80px;

    h1 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      color: #333333;
      margin-bottom: 16px;
    }
  }

  .banners-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    margin-bottom: 64px;

    .banner {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  .article-banner {
    max-width: 600px;
    margin: 0px auto;
    margin-bottom: 64px;

    img {
      width: 100%;
    }
  }

  .video-card {
    width: 600px;
    height: 400px;
    margin: 32px auto;
    background: #d9d9d9;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  }

  .video-card iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .content {
    p {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #333333;
      margin-bottom: 32px;
    }

    h5 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 16px;
      color: #333333;
    }
  }

  .bottom-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

.one-share-section {
  padding: 64px 0px;

  .inner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .price-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px 40px;
      min-height: 105px;
      background: $primary;
      border-radius: 4px;
      margin-bottom: 32px;

      h3 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 170%;
        color: #ffffff;
        margin-bottom: 0px;

        small {
          font-family: "Noto Sans JP";
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 170%;
          color: #ffffff;
          margin-bottom: 0px;
        }
      }

      h4 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 170%;
        color: #ffffff;
        margin-bottom: 0px;
      }

      h6 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 0px;
        line-height: 170%;
        color: #ffffff;
      }
    }

    h2 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 170%;
      text-align: center;
      color: #333333;
      margin-bottom: 56px;
    }

    p {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
      text-align: center;
      margin-bottom: 32px;
      color: #000000;

      a,
      span {
        color: $primary;
      }
    }

    h5 {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 170%;
      color: #1a492d;
      margin-bottom: 56px;
    }

    .membership-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      width: 280px;
      height: 280px;
      background: #ffffff;
      border: 2px solid $primary;
      border-radius: 180px;

      img {
        height: 26px;
      }

      h4 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: $primary;
        margin-bottom: 24px;
      }

      h6 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #333333;
        margin: -8px 0px;
      }

      h2 {
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        color: #333333;
        margin-bottom: 0px;

        sub {
          font-size: 20px;
        }
      }
    }
  }
}

.representative-card {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  width: 100%;
  height: calc(100% - 32px);
  margin-bottom: 32px;
  background: #ffffff;
  border: 2px solid $primary;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;

  .banner {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
    margin-bottom: 8px;
  }

  h3 {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 130%;
    color: #333333;
  }

  p {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 0px;
  }
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  width: 100px;
  height: 100px;
  right: 24px;
  bottom: 40px;
  background: #ffffff;
  border: 1px solid $primary;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  z-index: 999;

  img {
    height: 27px;
  }

  span {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: $primary;
  }
}

.donations-section {
  padding: 64px 0px;

  .content {
    padding-right: 30px;

    h3 {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 150%;
      color: #333333;
      margin-bottom: 24px;
    }

    p {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
      color: #333333;
      margin-bottom: 24px;
    }
  }

  .banner {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

}

.notice-section {
  width: 100%;
  padding: 80px 48px 33px 48px;
  width: 100%;
  min-height: 360px;
  background: #ffffff;
  border: 2px solid $primary;
  border-radius: 8px;
  position: relative;
  margin-top: 67px;

  .card-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    gap: 10px;
    width: fit-content;
    height: 70px;
    background: #fff;
    border-left: 2px solid $primary;
    border-right: 2px solid $primary;
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);

    span {
      font-family: "Noto Sans JP";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      color: $primary;
    }
  }

  p {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #333333;
    margin-bottom: 42px;
  }
}

.purchasing-section {
  padding: 64px 0px;

  p {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #000000;
  }

  .banner {
    width: calc(100% - 20px);
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .content {
    h4 {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 170%;
      color: $primary;
      margin-bottom: 16px;
    }

    .point {
      display: flex;
      margin-bottom: 8px;
      align-items: baseline;

      .check {
        width: 15px;
        height: 15px;
        margin-right: 8px;
      }

      span {
        width: calc(100% - 23px);
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
      }
    }
  }
}

.purchase-conditions {
  padding: 20px 0px;

  h2 {
    border-bottom: 2px solid $primary;
    padding: 0px 33px;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 170%;
    margin-bottom: 32px;
    color: $primary;
  }
}

.conditions-card {
  width: 100%;
  border: 2px solid $primary;
  min-height: 200px;
  border-radius: 8px;
  overflow: hidden;
  max-width: 700px;
  min-height: 234px;
  margin: 0px auto 32px;
  display: flex;
  align-items: center;

  .numbering {
    height: -webkit-fill-available;
    width: 80px;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    background: $primary;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    padding: 24px 48px;
    width: calc(100% - 80px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: $primary;
      margin-bottom: 16px;
    }

    p {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      display: flex;
      align-items: center;
      color: #333333;
    }

    .point {
      display: flex;
      margin-bottom: 8px;
      align-items: baseline;

      .check {
        width: 15px;
        height: 15px;
        margin-right: 8px;
      }

      span {
        width: calc(100% - 23px);
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
      }
    }
  }
}

.about-ownership {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    border-bottom: 2px solid $primary;
    padding: 0px 33px;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 170%;
    margin-bottom: 32px;
    color: $primary;
  }

  .owner-sponsor-card {
    width: 100%;
    max-width: 530px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: #FFFFFF;
    border: 2px solid $primary;
    border-radius: 8px;
    margin-bottom: 56px;

    p {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #333333;
      margin-bottom: 16px;
    }

    .point {
      display: flex;
      margin-bottom: 8px;
      align-items: baseline;

      .check {
        width: 15px;
        height: 15px;
        margin-right: 8px;
      }

      span {
        width: calc(100% - 23px);
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
      }
    }
  }

  .b2 {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #333333;
    margin-bottom: 56px;
  }
}

.hourse-detail-section {
  padding: 80px 0px 60px;



  .left-content {
    .heading {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        margin-bottom: 16px;
        color: #333333;
      }
    }

    .product-gallery {
      width: 100%;
      margin-bottom: 16px;
      /* MAIN IMAGE */

      .main-slider {
        width: 100%;
        height: 657px;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 15px;
        overflow: hidden;
      }

      .main-slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /* THUMBNAILS */

      .thumb-wrapper {
        position: relative;
      }

      .thumb-slider {
        width: 100%;
      }

      .thumb-slider .swiper-slide {
        width: 80px;
        height: 120px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        opacity: .6;
      }

      .thumb-slider .swiper-slide-thumb-active {
        opacity: 1;
        border: 2px solid $primary;
      }

      .thumb-slider img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      /* ARROWS */

      .thumb-next {
        position: absolute;
        top: 40px;
        /* Frame 220 */
        z-index: 99;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 18px;
        height: 34.18px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 2px 0px 0px 2px;

      }

      .thumb-prev {
        position: absolute;
        top: 40px;
        /* Frame 220 */
        z-index: 99;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 18px;
        height: 34.18px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 0px 2px 2px 0px;

      }

      .thumb-next {
        right: 0px;
      }

      .thumb-prev {
        left: 0px;
      }
    }

    .video-card {
      width: 100%;
      height: 230px;
      background: #d9d9d9;
      overflow: hidden;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
      background: #CBCBCB;
      margin-bottom: 16px;

      iframe {
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    .list {
      width: 100%;
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      .pills {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 8px;
        gap: 10px;
        height: 28px;
        background: #ffffff;
        border: 1px solid $primary;
        border-radius: 4px;
        font-family: "Noto Sans JP";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 170%;
        color: $primary;
      }
    }
  }

  .right-content {
    padding-left: 25px;

    .looking-for-support {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px 40px;
      margin-bottom: 24px;
      width: fit-content;
      min-height: 92px;
      background: #1A492D;
      border-radius: 4px;

      span {
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 500;
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 170%;
        color: #FFFFFF;
      }

      p {
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 170%;
        color: #FFFFFF;
        margin-bottom: 0px;
      }
    }

    .product-details {
      width: 100%;
      padding-bottom: 10px;

      .points-row {
        display: flex;
        gap: 24px;
        margin-bottom: 16px;

        .que {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 4px;
          gap: 10px;
          height: fit-content;
          width: 142px;
          background: #E7A94A;
          border: 1px solid #E7A94A;
          border-radius: 4px;
          /* 名前の由来 */
          font-family: 'Noto Sans JP';
          font-style: normal;
          font-weight: 400;
          text-align: center;
          font-size: 16px;
          line-height: 170%;
          color: #FFFFFF;
        }

        .ans {
          width: calc(100% - 166px);

          p {
            font-family: 'Noto Sans JP';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 170%;
            color: #333333;
            margin-bottom: 0px;
          }
        }

        .options {
          display: flex;
          flex-wrap: wrap;
          gap: 8px 16px;

          .option {
            display: flex;
            flex-direction: row;
            justify-content: center;
            transition: all 0.3s ease-in-out !important;
            align-items: center;
            padding: 4px 10px;
            gap: 10px;
            height: 28px;
            background: #FFFFFF;
            border: 1px solid $primary;
            border-radius: 4px;
            font-family: 'Noto Sans JP';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 170%;
            cursor: pointer;
            color: $primary;

            &:hover,
            &.active {
              background: $primary;
              color: #fff;
            }
          }
        }
      }
    }

    .message-card {
      width: 100%;
      margin-bottom: 24px;
      height: calc(100% - 24px);
      border: 1px solid $primary;
      border-radius: 4px;

      .m-heading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 0px;
        gap: 10px;
        width: 100%;
        height: 43px;
        background: $primary;
        border-radius: 4px 4px 0px 0px;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 170%;
        text-align: center;
        color: #FFFFFF;
      }

      .m-body {
        padding: 24px 16px;

        p {
          font-family: 'Noto Sans JP';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 170%;
          color: #333333;
          margin-bottom: 0px;
        }
      }
    }
  }

  .bottom-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
}

.header-sm {
  width: 100%;
  background: $primary;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    animation: slideDown 0.3s ease forwards;
  }

  .logo {
    height: 66px;
    background: #fff;
    padding: 8px 24px;

    img {
      width: 50px;
      width: 50px;
    }
  }

  .menu-btn {
    padding: 8px 24px;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .burger {
      height: 38px;
    }
  }
}

.offcanvas {
  height: fit-content !important;
  z-index: 99999;

  .offcanvas-header {
    padding: 8px 32px 8px 24px;

    .logo img {
      height: 50px;
    }

    .close {
      padding: 0px;
      border: none;
      background: transparent;
    }
  }

  .offcanvas-body {
    padding: 85px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    a {
      font-family: 'Noto Sans JP';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #333333;

      &.active {
        color: $primary;
      }
    }

    .social-btns {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: space-between;

      img {
        height: 42px;
      }
    }
  }
}